@mixin scene {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

@mixin center {
  display: flex;
  justify-content: center;
}

@mixin character {
  position: absolute;
  left: 40%;
  bottom: 0;
}

@mixin pc {
  @media(min-width: 700px) {
    @content
  }
}