@use 'variables';
@use 'mixins';

@font-face {
  font-family: 'YouthTouch';
  src: url(../assets/font/YouthTouch/YouthTouch.ttf) format(TrueType);
}

@font-face {
  font-family: 'MadeVoyager';
  src: url(../assets/font/MadeVoyager/MADEVoyagerPERSONALUSE-Regular.otf) format(TrueType);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // overflow: hidden;
}

body {
  height: 100vh;
  width: 100%;

  main {
    width: 100%;
    height: 100%;
    // flex: 1 0 600px;
    // max-width: 100%;
    // position: relative;
  }

  h1 {
    font-family: 'YouthTouch';
    font-size: 2rem;
    margin-bottom: 2rem;
    @include mixins.center;
  }

  .line {
    height: 1rem;
    background-color: gray;
    border-style: hidden;
  }
}

.container {
  border: 2px solid red;


  // @include mixins.pc {
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  // }
}

.scene {
  @include mixins.scene;
  position: relative;
}

#scene {
  &-1 {
    background-image: url(../assets/img/bg-Arthur.png);
    border: 2px solid rgb(55, 255, 0);
    height: 48.5vh;

    .scene-character {
      @include mixins.character;
      height: 70%;
    }

    .scene-balloon {
      left: 15%;
      height: 15%;
      position: absolute;
      width: 20%;
      border: 2px solid rgb(0, 255, 68);

      img {
        width: 100%;
      }

      &:hover {
        filter: invert(13%) sepia(94%) saturate(6713%) hue-rotate(359deg) brightness(105%) contrast(108%);
      }
    }
  }

  &-2 {
    background-image: url(../assets/img/bg-Nicole.png);
    border: 2px solid rgb(195, 0, 255);
    height: 48.9vh;

    .scene-character {
      @include mixins.character;
      height: 60%;
      left: 25%
    }

    .reasonsContainer {
      border: 2px solid rgb(195, 0, 255);
      height: 40%;
      margin-left: 50%;
      display: flex;
      position: absolute;
      bottom: 10%;
      justify-content: center;
      align-items: center;


      .scene-balloon {
        max-height: 100%;
        max-width: 100%;
        border: 2px solid rgb(242, 255, 0);
      }


      p {
        font-family: 'MadeVoyager';
        font-size: clamp(.8rem, 2.5vw, 1rem);
        position: absolute;
        border: 2px solid rgb(0, 8, 255);
        text-align: center;
        max-width: 90%;
      }
    }
  }
}

// footer {
//   @include mixins.center;
//   background-color: black;
//   color: white;
//   height: 1%;
//   font-size: 1rem;
// }